/*don't touch*/
.container-contact100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

/*don't touch*/
.wrap-contact100 {
  width: 670px;
  background: #f4f5fa;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
/*don't touch*/
.panel-body-padding{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

/*don't touch*/
.reCaptcha{
  float: left;
  display: inline-block;
}

/*don't touch*/
.submit_button{
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

/*==================================================================
[ Title form ]*/
/*don't touch*/
.contact100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px 15px 64px 15px;
}

/*don't touch*/
.contact100-form-title-1 {
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

/*don't touch*/
.contact100-form-title-2 {
  font-family: inherit;
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

/*don't touch*/
.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}



