body { /*background: #e8e8e8;*/ }
.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {
	height: 130px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	width: 380px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 22px 0 0 0px;
	cursor: pointer;
}
/*.frame ul li.active {
	color: #fff;
	background: #a03232;
}*/

/* Scrollbar */
.scrollbar {
	margin: 20px 0 20px 0;
	height: 0px;
	border-bottom: solid 1px #cdcdcd;
	background: #ccc;
	line-height: 0;
	position: relative;
}
.scrollbar .handle {
	width: 100px;
	height: 0;
	border-top: 3px solid #16366a;
	background: #16366a;
	margin-top: -1px;
	cursor: pointer;
	position: absolute;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }
@media screen and (max-width: 1024px) {
	.frame {
		 height: auto;
		 overflow: initial;
	}
	.frame ul li {
		float: none!important;
		width: 100%!important;
		display: block!important;
	}
	.hs_texts {
		float: none!important;
		margin-left: 0px!important;
		width: 70%!important;
		display: inline-block!important;
		vertical-align: top;
	}
	.footered {
		height: auto!important;
	}
	.hs_svg {
		float: none!important;
        display: inline-block!important;
	}
	.hs_texts .hst_smaller {
		display: block!important;
	}
	svg {
		vertical-align: unset;
	}
	.scrollbar{
		display: none;
	}
}