@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon/Flaticon.eot");
    src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}
.header-top {
    /*padding-bottom: 10px;
    margin-bottom: 10px;*/
    border-bottom: 1px solid #dcdcdc;
}
.header-top a,
.header-top2 a{
    color: #818181;
    font-weight: bold;
    margin-left: 12px;
    font-size: 14px;
}
.header-top a:hover,
.header-top2 a:hover{
    text-decoration: none!important;
    color: #ffc100;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-pencil:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }
.flaticon-login:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-report:before { content: "\f104"; }
.flaticon-paperclip-document-outline:before { content: "\f105"; }
.flaticon-accept:before { content: "\f106"; }
.flaticon-comment:before { content: "\f107"; }
.flaticon-spreadsheet:before { content: "\f108"; }
.flaticon-right {
    margin-right: 5px;
}

.color-primary {
    color: #003674;
    font-size: 20px;
}
.color-secondary {
    color: #ff980b;
}
.active, .active a {
    color: #ff980b;
}
.btn {
    border: none;
    border-radius: 35px;
    padding: 5px 10px;
}
.btn-secondary {
    color: #ffffff !important;
    background-color: #ff980b !important;
}
.btn-secondary:hover {
    color: #ffffff;
    background-color: #ff6900 !important;
}
.btn-secondary:focus {
    outline: 0;
    /*box-shadow: 0 15px 15px rgba(255,151,0,.20);*/
    background-color: #ff980b!important;
}
.btn-secondary:active {
    outline: 0;
    box-shadow: none;
    background-color: #ff980b!important;
}
.btn-secondary:focus:active {
    /*box-shadow: inset 0 3px 3px rgba(232,110,1,.70)!important;*/
}

header {
    background-color: rgba(244, 245, 250, 0.85);
    padding-top: 10px;
    box-shadow: 0 1px 5px rgba(178,178,178,.17);
}
header.menu-opened {
    background-color: #f4f5f9;
    box-shadow: 0 15px 15px rgba(189,189,189,.20);
}
header .logo {

}
header .logo a {
    text-decoration: none;
}
header .logo__img {
    margin-right: 20px;
}
header .logo__text {
    font-family: 'Museo Sans Cyrl 900';
    font-size: 32px;
    line-height: 21px;
}
header .menu {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}
header .menu:before {
    content: "";
    display: inline-block;
    background-color: #cdcdcd;
    height: 34px;
    width: 1px;
    margin-right: 40px;
}
header .menu__btn {
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 46px;
    font-size: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    transition: all 0.3s ease;
}
header .menu__btn span {
    display: block;
    position: absolute;
    top: 22px;
    left: 13px;
    right: 13px;
    height: 2px;
    background: #003674;
    transition: 0.3s;
}
header .menu__btn span:before, header .menu__btn span:after {
    content: "";
    display: block;
    clear: both;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #003674;
    box-sizing: inherit;
}
header .menu__btn span:before {
    height: 3px;
    top: -7px;
    transition-property: top, transform;
}
header .menu__btn span:after {
    bottom: -7px;
    width: 80%;
    transition-property: bottom, transform;
}
header.menu-opened .menu__btn {

}
header.menu-opened .menu__btn span {
    background: none !important;
}
header.menu-opened .menu__btn span:before, header.menu-opened .menu__btn span:after {
    background-color: #003674 !important;
    transition-delay: 0s, .3s;
}
header.menu-opened .menu__btn span:before {
    top: 0;
    transform: rotate(45deg);
}
header.menu-opened .menu__btn span:after {
    bottom: 0;
    transform: rotate(-45deg);
    width: 100%;
}
header.menu-opened .menu__btn em {
    color: #003674 !important;
}
header.menu-opened .menu__box {
    display: block!important;
}
.menu__box {
    background-color: #f4f5f9;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 1px solid #cdcdcd;
    margin-top: 10px;
}
.menu__box ul.menu__box-col {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__box ul li.menu__item {
    position: relative;
    padding: 0 0 15px 28px;
    line-height: normal;
}
.menu__box ul li.menu__item:before {
    content: "";
    display: block;
    clear: both;
    width: 11px;
    height: 2px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0;
    top: 8px;
}
.menu__box ul li.menu__item a.menu__item-link {
    font-family: 'Museo Sans Cyrl 100';
    display: block;
    font-size: 16px;
    color: #888888;
}

header .lang-switcher {
    position: relative;
    height: 42px;
    max-width: 65px;
}
header ul.lang {
    list-style: none;
    margin: 0;
    padding: 7px 2px;
    display: inline-block;
}
header ul.lang:after {
    position: absolute;
    top: 21px;
    left: 60px;
    display: block;
    content: "";
    border-top: 4px solid #003674;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}
header ul.lang:hover {
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(189,189,189,.20);
    border-radius: 3px;
}
header .lang__item {
    display: none;
    line-height: 30px;
}
header ul.lang:hover .lang__item {
    display: block;
}
header .lang__item.current {
    display: block;
}
header .lang__item-link {
    font-family: 'Museo Sans Cyrl 500';
    font-size: 17px;
    color: #949494;
    display: block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 30px;
}
header .lang__item.current .lang__item-link {
    font-family: 'Museo Sans Cyrl 700';
    color: #003674;
}
header .lang__item-link:hover {
    background-color: #ff980b;
    color: #ffffff;
}

header .review__btn {
    font-family: 'Museo Sans Cyrl 500';
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 20px;
    /*box-shadow: 0 15px 15px rgba(255,151,0,.20);*/
}
header .review__btn i.flaticon {
    margin-right: 10px;
}
header .review__btn i.flaticon:before {
    font-size: 21px;
    vertical-align: middle;
    line-height: 19px;
}

header .search__btn, header .profile__btn {
    color: #003674;
    text-decoration: none;
    padding: 0;
    border: none;
}
header .search__btn:hover, header .profile__btn:hover {
    color: #ff980b;
    text-decoration: none;
}
header .search__btn:focus, header .profile__btn:focus {
    text-decoration: none;
}
header .search__btn i.flaticon:before, header .profile__btn i.flaticon:before {
    font-size: 22px;
}
header .profile {
    display: flex;
    align-items: center;
    position: relative;
}
header .profile:before {
    content: "";
    display: inline-block;
    background-color: #cdcdcd;
    height: 34px;
    width: 1px;
    /*margin-right: 15px;*/
}
.review__btn{
    color: #fff!important;
    text-decoration: none!important;
}
.header-top2 .footer__menu a{
    font-size: 16px!important;
}
#map ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}
#map ul li.menu__item {
    position: relative;
    padding: 0 0 5px 15px;
    line-height: normal;
}
#map ul li.menu__item:before {
    content: "";
    display: block;
    clear: both;
    width: 11px;
    height: 2px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0;
    top: 8px;
}
#map ul li.menu__item a.menu__item-link {
    font-family: 'Museo Sans Cyrl 100';
    display: block;
    font-size: 12px;
    color: #888888;
}
#map .map_title{
    color: #222;
}

/**Mobile*/
.mobile-ajax-search {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.mobile-ajax-search .search__form-field {
    height: 50px;
    padding: 5px 25px 5px 45px;
    border: none;
    min-width: 800px;
    background: #f4f5f9 url(/wb/lupa.png) 15px center no-repeat;
    font-size: 16px;
    color: #898989;
    border-top: 1px solid #dbdbdb;
}
.mobile-ajax-search .search__form-field:focus,
.mobile-ajax-search .search__form-field:active {
    box-shadow: none;
    outline: 0;
}
.mobile-review {
    width: 48px;
    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 1;
}
.mobile-review .review__btn {
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    /*box-shadow: 0 15px 15px rgba(255,151,0,.20)*/
}
@media screen and (max-width: 575.98px) {
    .footered .search_wrap{
        display: none!important;
    }
    header.fixed-top {
        position: relative!important;
    }
    header .logo img {
        max-width: 55px;
    }
    header .logo__img {
        margin-right: 10px;
    }
    header .logo__text {
        font-size: 16px;
        line-height: 17px;
    }
    header .menu {
        margin-left: 0;
    }
    header .menu:before, header .profile:before {
        display: none;
    }
    .stats__list.owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 2px;
    }
    .stats__item .data__current {
        font-size: 23px;
    }
    .stats__item {
        padding-top: 26px;
    }
    .stats__list.owl-theme .owl-dots,
    .stats__list.owl-theme .owl-nav {
        text-align: center;
    }
    footer {
        text-align: center;
        margin-bottom: 50px;
    }
    footer .copyright {
        margin-bottom: 10px;
    }
    footer .copyrighting {
        float: none;
        width: 100%;
    }
    footer .footer_menu {
        float: none;
        text-align: left;
        margin-top: 7px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    header .menu{
        margin-left: 0;
    }
    header .menu:before, header .profile:before{
        display: none;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    footer .copyrighting {
        float: none;
        width: 100%;
    }
    footer .footer_menu {
        float: none;
        text-align: left;
        margin-top: 7px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    header .menu{
        margin-left: 0;
    }
    header .menu:before, header .profile:before{
        display: none;
    }
    header.fixed-top {
        position: relative!important;
    }
    header .logo img {
        max-width: 55px;
    }
    header .logo__img {
        margin-right: 10px;
    }
    header .logo__text {
        font-size: 16px;
        line-height: 17px;
    }
    header .menu {
        margin-left: 0;
    }
    header .menu:before, header .profile:before {
        display: none;
    }
    .stats__list.owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 2px;
    }
    .stats__item .data__current {
        font-size: 23px;
    }
    .stats__item {
        padding-top: 26px;
    }
    .stats__list.owl-theme .owl-dots,
    .stats__list.owl-theme .owl-nav {
        text-align: center;
    }
    footer {
        text-align: center;
        margin-bottom: 50px;
    }
    footer .copyright {
        margin-bottom: 10px;
    }
}