@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-500.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-500"), url(../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-500.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-500.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-300Italic"), url(../fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-300Italic.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-900.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-900"), url(../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-900.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-900.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-700.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-700"), url(../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-700.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-700.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-300.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-300"), url(../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-300.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-300.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-100.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-100"), url(../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-100.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-100.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot);
  src: local("../fonts/MuseoSans/MuseoSansCyrl-100Italic"), url(../fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-100Italic.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url(../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot);
  src: local("../fonts/MuseoSans/Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"), url(../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff) format("woff"), url(../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'PTSerif Regular';
  src: url(../fonts/PT-Serif/PTSerif-Regular.ttf) format("truetype"), url(../fonts/PT-Serif/PTSerif-Regular.eot) format("embedded-opentype"), url(../fonts/PT-Serif/PTSerif-Regular.woff) format("woff"), url(../fonts/PT-Serif/PTSerif-Regular.svg) format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'PTSerif Regular Italic';
  src: url(../fonts/PT-Serif/PTSerif-Italic.ttf) format("truetype"), url(../fonts/PT-Serif/PTSerif-Italic.eot) format("embedded-opentype"), url(../fonts/PT-Serif/PTSerif-Italic.woff) format("woff"), url(../fonts/PT-Serif/PTSerif-Italic.svg) format("svg");
  font-weight: 300;
  font-style: normal; }

header .menu__btn:hover span, header .menu__btn:hover span:before, header .menu__btn:hover span:after{
    background-color: #ff980b;
    transition-delay: 0s, .3s;
}
header.menu-opened .menu__btn span:before, header.menu-opened .menu__btn span:after {
    background-color: #003674 !important;
    transition-delay: 0s, .3s;
}
header.menu-opened  .menu__btn span:before {
    height: 2px;
}
main{
    position: relative;
    margin-top: 15px;
    font-family: 'Museo Sans Cyrl 300';
    margin-bottom: 15px;
}
input, button:active, button:focus {
    outline: none;
}
input,button::-moz-focus-inner {
    border: 0;
}
header .container_fluid .row,
footer .container_fluid .row,
.footered .container_fluid .row
{
    margin: 0 15px;
}
body {
	font-family: 'PTSerif Regular';
}
input{
    font-family: 'Museo Sans Cyrl 300';
}
header{
	font-family: 'Museo Sans Cyrl 300';
    z-index: 2;
    position: relative;
}
header .header{
    background-color:rgba(244, 245, 250, 0.85);
    height: 85px;
    border-bottom: solid 1px rgba(244, 245, 250, 0.17);
}
#map{
    /*position: fixed!important;*/
}
.logo{
	font-family: 'Museo Sans Cyrl 900';
    margin-top: 7px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 7px;
}
.spliter{
    border-left: #cdcdcd solid 1px;
}
header .splitter{
    border-right: #cdcdcd solid 1px;
    display: inline-block;
    height: 35px;
    width: 0;
    position: absolute;
    top: 24px;
}
header .top_menu{
    background: url(../menu.png) no-repeat center bottom;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 25px;
}
.yellow_button{
    border: #ff980b solid 1px;
    background: #ff980b;
    display: inline-block;
    height: 38px;
    line-height: 35px;
    padding: 0 15px 0 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 18px;
}
.yellow_button:hover{
    border: #fe950b solid 1px;
    text-decoration: none;
    color: #fff;
    /*box-shadow: inset 0px 3px 3px #e86e01;*/
}
.review_button{
	font-family: 'Museo Sans Cyrl 700';
	text-transform: uppercase;
    border: #ff980b solid 1px;
    background: #ff980b url("../comment.png") no-repeat;
    background-position: 20px center;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px 0 55px;
    color: #fff;
    font-size: 14px;
    border-radius: 18px;
    margin-top: 23px;
}
.review_button:hover{
    border: #fe950b solid 1px;
    text-decoration: none;
    color: #fff;
    /*box-shadow: inset 0px 3px 3px #e86e01;*/
}
.searching{
    border: 0;
    background: #fff;
    background-position: 20px center;
    display: inline-block;
    height: 38px;
    line-height: 35px;
    padding: 0 35px 0 10px;
    color: #1d2124;
    font-size: 14px;
    border-radius: 18px;
    margin-left: 16px;
}
.searching_container{
    display: inline-block;
    position: relative;
}
.searching_btn{
    background: url("../lupa.png") no-repeat;
    height: 35px;
    width: 20px;
    border: none;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}
header .logining{
    background: url(../login.png) no-repeat;
    display: block;
    height: 25px;
    width: 25px;
    margin-top: 29px;
    margin-left: 25px;
}
.fixed{
    /*position: absolute;*/
}
footer{
	font-family: 'Museo Sans Cyrl 300';
    background: #f4f5fa;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    position: relative!important;
    padding-top: 15px;
}
footer .copyrighting{
    float: left;
    width: 300px;
    color: #818181;
}
footer .footer_menu{
    float: right;
    text-align: right;
    margin-top: 7px;
    width: 100%;
    margin-left: -300px;
    margin-bottom: 30px;
}
footer .footer_menu a{
    color: #818181;
    text-decoration: underline;
    margin-left: 12px;
}
.footered .smalled{
	line-height: 32px;
	font-family: 'Museo Sans Cyrl 300';
    display: block;
    font-size: 24px;
    width: 100%;
    padding-top: 10px;
}
.footered .bigged{
	font-family: 'Museo Sans Cyrl 700';
    font-size: 28px;
    text-transform: uppercase;
    display: block;
}
.footered{
    background: #f4f5fa;
    /*position: fixed;*/
    /*bottom: 71px;
    left: 0;
    right: 0;*/
    height: 214px;
}
.handleslide{

    width: 100%;
}
.hs_svg{
    float: left;
}
.hs_texts{
    float: left;
    margin-left: -10px;
    width: 250px;
}
.hs_texts .hst_bigger{
	font-family: 'Museo Sans Cyrl 700';
    font-size: 30px;
    color: #003674;
    font-weight: bold;
    position: relative;
}
.hs_texts .hst_smaller{
	font-family: 'Museo Sans Cyrl 300';
    font-size: 16px;
    color: #464646;
}
.donut-percent {
	font-family: 'Museo Sans Cyrl 700';
}
.hs_texts .hst_texter{
	font-family: 'Museo Sans Cyrl 300';
    display: block;
    font-size: 14px;
    color: #424242;
}
.hs_texts .hs_info{
    background: url("../info.png") no-repeat;
    position: absolute;
    height: 27px;
    display: block;
    width: 27px;
    top: -20px;
    right: -25px;
}

/**Search willa*/
.search_wrap {
    bottom: 300px;
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
}
.searching_wella_mob{
    z-index: 11;
    position: relative;
}
.searching_wella{
    border: solid 1px rgba(0, 0, 0, 0.1);
    background: #f4f5fa;
    background-position: 20px center;
    display: inline-block;
    height: 38px;
    line-height: 35px;
    padding: 0 10px 0 35px;
    color: #1d2124;
    font-size: 14px;
    border-radius: 18px;
    width: 800px;
    z-index: 11;
    position: relative;
}
.wella_container{
    display: inline-block;
    position: relative;
    margin-top: 23px;
    margin-left: -400px;
}
.wella_btn{
    background: url("../lupa.png") no-repeat;
    height: 35px;
    width: 20px;
    border: none;
    position: absolute;
    top: 11px;
    left: 15px;
    cursor: pointer;
}

.searching_resluts{
    background: #ffffff;
    border-radius: 18px;
    display: block;
    top: -180px;
    position: absolute;
    width: 100%;
    z-index: -1;
    padding-bottom: 30px;
    overflow: hidden;
    z-index: 10;
}
.sr_lists{
    padding: 10px;
    list-style: none;
    border-radius: 18px;
    height: 170px;
    overflow-y: auto;
}
.sr_lists li{
    background: url("../map_small.png") no-repeat 5px center;
    padding-left: 30px;
    margin-bottom: 2px;
    border-bottom: #efefef solid 1px;
}
.sr_lists .sr_title{
    font-size:  14px;
    font-weight: bold;
    color: #868686;
}
.sr_lists .sr_label{
    font-size:  12px;
    color: #898989;
}
.sr_lists a:hover{
    text-decoration: none;
}


.v_wella{
    color: #868686;
    font-size: 14px;
}
.v_title{
    color: #003674;
    font-size: 22px;
    font-weight: bold;
}
.v_item{
    border-bottom: solid 1px #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.v_item_heading{
    color: #868686;
    font-size: 16px;
}
.v_item_title{
    color: #868686;
    font-size: 12px;
}
.v_item_stat{
    color: #003674;
    font-size: 20px;
    font-weight: bold;
}
.v_item .progress{
    margin-top: 10px;
}
.blockquote{
    border-bottom: solid 1px #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.blockquote p{
    color: #888888;
    font-size: 14px;
}
.blockquote .blockquote-footer{
    color: #888888;
    font-size: 14px;
}
.page-content{
    min-height: 550px;
    margin: 0 15px;
}
.tabled li a{
    color: #0f0f0f;
}
.tabled .list-group-item-dark {
    color: #000!important;
    background-color: #ff980b!important;
}
.tabled .list-group-item-dark a{
    color: #fff!important;
    font-weight: bold;
}



